SPREADSHEET_ID=isi_spreadsheet_id_dari_url_google_sheets
SHEET_NAME=Remider Angsuran
CRON_SCHEDULE=0 9 * * *
TIMEZONE=Asia/Jakarta
DELAY_MS=3000
GEMINI_API_KEY=isi_kunci_gemini
GEMINI_MODEL=gemini-1.5-flash
ADMIN_NUMBERS=628xxxxxxxxx
STRICT_HARI=true
USE_GROUP_SHEETS=true